.caja1{
    border-style: solid;
    border-color: blueviolet;
    height: auto;
}

.caja2{
    border-style: solid;
    border-color: blueviolet;
    height: 1000px;
}

.caja3{
    border-style: solid;
    border-color: blueviolet;
    height: auto;
}